body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  width: 100vw;
  height: 100vh;
  background: url(./images/backgound.jpeg) center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}

.titleGame {
  font-style: oblique;
  text-align: left;
  color: white;
  text-shadow: 1px 1px black;
  margin-left: 2.5%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  font-size: 40px;
  width: 250px;
  position: relative;
  top: 75px;
}

#soundBox {
  margin: 20px auto;
  width: 900px;
  background-color: rgba(3, 3, 3, 0.5);
  padding: 20px;
}

.instrument {
  height: 50px;
}

.instrument>div,
.instrument>input {
  vertical-align: middle;
}

.instrument>div {
  width: 150px;
  display: inline-block;
  text-align: center;
  color: white;
}

.sounds {
  position: absolute;
}

input {
  width: 2rem;
  height: 2rem;
}

.spaced {
  margin-left: 10px;
}

.longTempo {
  transform: scale(3.55, 1);
  margin-left: 50px;
  margin-right: 60px;
}

/*.gap {
  transform: scale(4.2, 1);
  margin-left: 85px;
}*/

#btn-start {
  margin-left: 40%;
}
